*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #000000;
}
input,button{
	outline: none;
	border: none;
}
img{
	max-width: 100%;
}
li{
	list-style: none;
	display: block;
}
/* 定义根字体大小 */
html{
	font-size: 100px;
}
/* 媒体查询和rem配合型 响应式布局 */
/* 媒体查询 */
/* @media screen and (min-width:1200px){
    body{
        background-color: pink;
	}
} */
/* @media screen and (min-width:700px) and (max-width:1200px){
    body{
	background-color: blue;
	}
}
@media screen and (max-width:700px){
    body{
	background-color: orange;
        }
}
@media screen and (max-width:375px){
    body{
	background-color: blue;
        }
}
@media screen and (max-width:350px){
    body{ 
	background-color: green;
        }
} */
.ts_box2{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.ts_box2 input,
.ts_box4 input,
.ts_box5 input{
	width: 92%;
	height: 1.173333rem;
	margin: 0.133333rem auto;
	padding-left: 0.266666rem;
	background: rgb(238,238,238);
	font-size: 0.373333rem;
}
.ts_box2 p,
.ts_box4 p,
.yuyue{
	width: 92%;
	height: 1.173333rem;
	margin:0.133333rem auto;
	font-size: 0.4rem;
	text-align: center;
	background: rgb(236,194,130);
	color: rgb(51,51,51);
	line-height: 1.173333rem;
}
.ts_box3{
	width: 100%;
	margin-top: 0.533333rem;
	padding-bottom: 0.533333rem;
	background-image: url(month20200816/bj.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.ts_box3>img{
	width: 53%;
	display: block;
	padding: 0.533333rem 0;
	margin: 0 auto;
}
.ts_tage{
	width: 92%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.ts_tage p{
	width: 27%;
	height: 0.8rem;
	background: #FFFFFF;
	border-radius: 0.133333rem;
	line-height: 0.8rem;
	text-align: center;
	margin: 0 0.133333rem;
	font-size: 0.373333rem;
}
.addit{
	background-color: rgb(236,194,130)!important;
}
.swiper-container{
	width: 92%;
	margin: 0.333333rem auto;
}
.ts_content{
	width: 92%;
	margin: 0.266666rem auto;
	line-height:0.533333rem;
}
.ts_content>p:first-child{
	margin: 0.133333rem 0;
	color: #888888;
	font-size: 0.4rem;
}
.ts_content>p:last-child{
	color: #888888;
	font-size: 0.373333rem;
}
.ts_designer{
	width: 100%;
	font-size: 0.4rem;
}
.ts_designer>p:first-child{
	width: 92%;
	margin: 0 auto;
	line-height: 1.066666rem;
	text-align: center;
	background: rgb(236,194,130);
	color: rgb(34,54,64);
}
.ts_designer>p:last-child{
	width: 92%;
	margin: 0 auto;
	line-height: 1.066666rem;
	text-align: center;
	margin-top: 0.266666rem;
	border: 1px solid #888888;
	color: rgb(34,54,64);
}
.ts_box4{
	width: 92%;
	margin: 0.666666rem auto;
}
.ts_box4 p{
	margin: 0.533333rem auto;
}

.ts_box5 {
	width: 100%;
	margin: 0 auto;
	padding-top: 0.4rem;
	background: rgb(238,238,238);
	text-align: center;
	
}
.ts_box5>p:first-child{
	width: 80%;
	margin: 0.133333rem auto;
}
.ts_box5>p:first-child>img:first-child{
	margin-bottom: 0.266666rem;
}
.ts_box5 input{
	background: #FFFFFF;
}

.six-anibox{
	width: 100%;
	display: flex;
	justify-content: center;
}
.six-ani{
	width: 6.666666rem;
	height: 0.8rem;
	line-height: 0.6rem;
	display: flex;
	align-items: center;
	position: relative;
	margin: 0.3rem 0;
}
.six-ani::after{
	content: '';
	width: 1.333333rem;
	height: 0.013333rem;
	background-color: #aaaaaa;
	position: absolute!important;
	left: -1.26rem;
}
.six-ani::before{
	content: '';
	width: 1.333333rem;
	height: 0.013333rem;
	background-color: #aaaaaa;
	position: absolute!important;
	right: -1.26rem;
}
.six-anicus{
	width: 100%;
	height: 0.266666rem;
	overflow: hidden;
}
.six-anicus ul li{
	display: flex;
	font-size: 0.32rem;
	justify-content: space-evenly;
}
.ts_blank{
	width: 100%;
	height: 0.8rem;
	background: #FB368E;
}

	
