		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		
		a {
			text-decoration: none;
			display: block;
		}
		
		a:hover{
			color: #FB368E;
		}
		ul {
			list-style: none;
		}
		
		input {
			outline-style: none;
		}
		.cusheder{
			width: 1200px;
			height: 230px;
			margin: 0 auto;
		}
		
		.custonav{
			height: 80px;
		}
		
		.custonav3{
			width: 600px;
			height: 110px;
			line-height: 110px;
			position: relative;
			left: 550px;
			top: -118px;
		}
		.custonav3 input{
			width: 140px;
			height: 44px;
			font-size: 15px;
			color: rgb(68,68,68);
			background: rgb(249,249,249);
			border: 1px solid rgb(234,234,234);
			padding-left: 15px;
		}
		.cusbigbox{
			width: 1200px;
			height: auto;
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}
		.cusheder a{
			float: left;
			color: rgb(43,43,43);
			text-align: center;
			line-height: 80px;
		}
		.cusheder a:hover{
			color: #FB368E;
		}
		
		
		
		.cusmian{
			width: 1200px;
			height: auto;
			margin: 0 auto;
		}
		.cusmian>div>p{
			font-size: 24px;
			margin-top: -40px;
			line-height: 100px;
			font-weight: bold;
		}
		
		.cusleft{
			width:900px ;
			height: 250px;
			display: flex;
		}
		.cusleft1{
			width: 90px;
			height: 250px;
		}
		.cusleft2{
			width: 250px;
			height: 250px;
		}
		.cusleft3{
			width: 745px;
			height: 250px;
			padding: 0 30px;
		}
		.cusleft3 a{
			color: rgb(43,43,43);
		}
		.cusleft3 a:hover{
			color: #FB368E;
		}
		.cusleft3-1{
			height: 40px;
			font-size: 20px;
		}
		.cusleft3-2{
			height: 70px;
			margin-top:30px ;
			font-size: 16px;
			color: rgb(102,102,102);
		}
		
		.cusleft3-3{
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
			padding-left: 10px;
		}
		.cusleft3-3>div:first-child>img,
		.cusleft3-3>div:nth-child(2)>img{
			position: relative;
			top: 3px;
		}
		.cusleft3-3>div:nth-child(2)>img{
			position: relative;
			right: 40px;
		}
		.cusliu{
			padding-left: 20px;
			line-height: 30px;
			
		}
		
		.cuske{
			width: 46px;
			height: 24px;
			font-size: 12px;
			padding: 5px;
			cursor: pointer;
			position: relative;
			left: -25px;
			color: rgb(102,102,102);
			border: 1px solid rgb(232,232,232);
			}
		.cuske:hover{
			color: rgb(255,62,62);
			border: 1px solid rgb(255,62,62);
		}
		.cusyang{
			width: 46px;
			height: 24px;
			font-size: 12px;
			padding: 5px;
			cursor: pointer;
			position: relative;
			left: -10px;
			color: rgb(102,102,102);
			border: 1px solid rgb(232,232,232);
			}
		.cusyang:hover{
			color: rgb(255,62,62);
			border: 1px solid rgb(255,62,62);
		}
		.cusketing{
			color: red;
		}
		
		
		.cus-slide{								/*右边第一栏 */
			width: 260px;
			height: 398px;
			border: 1px solid rgb(238,238,238);
			}
			
		.cus-n {
			width: 220px;
			height: 56px;
			padding-top: 5px;
			line-height: 56px;
			display: flex;
			margin-left: 17px;
			font-size: 16px;
			justify-content: space-between;
		
		} 
		.cus-inp {
			width: 220px;
			height: 38px;
			margin-top: 10px;
			background: rgb(249,249,249);
			margin-left: 19px;
			padding-left: 19px;
			line-height: 38px;
			border: 1px solid rgb(238,238,238)
		}
		
		.cus-num {
			width: 26px;
			height: 26px;
			background: rgb(255,84,79);
			border-radius: 13px;
			line-height: 26px;
			margin-top: 13px;
			text-align: center;
			color: white;
			font-size: 17px;
		}
		.cus-num span{
			width: 26px;
			height: 26px;
			background: #FB368E;
		}
		.cus-header-btn {
			width: 220px;
			height: 40px;
			color: #FFFFFF;
			line-height: 40px;
			text-align: center;
			background-color: rgb(45, 45, 45);
			margin: 0 auto;
			cursor: pointer;
			transition: .1s;
		}
		.cusbtn1{
			position: absolute;
			top: 34px;
			left: 436px;
		}
		.cusbtn{
			width: 220px;
			height: 40px;
			background: rgb(45,45,45);
		}
		
		
		.grid_3_cell_3 {							/* 右边第二栏 */
			width: 260px;
			height: 388px;
			margin-top: 30px;
			border: 1px solid rgb(238,238,238);
			
		}
		.grid_3_cell_3>div:first-child{
			margin: 20px;
		}
		.grid_3_cell_3_1 {
			width: 260px;
			height: 93px;
			margin-top: 10px;
			display: flex;
			align-items: center;
			padding: 10px;
			background: rgb(252, 252, 252);
		}
		
		.grid_3_cell_3_1 a {
			font-size: 14px;
			background: rgb(250,250,250);
			color: rgb(0,0,0);
			line-height: 21px;
			margin-left: 4px;
		}
		.grid_3_cell_3_1 a:nth-child(2){
			color:rgb(102,102,102);
		}
		.grid_3_cell_3_1 a:hover{
			color: #FB368E;
		}
		.grid_3_cell_3_2 a {
			width: 220px;
			margin: 0 auto;
			font-size: 14px;
			color: rgb(0,0,0);
			line-height: 55px;
			text-align: center;
			border-bottom: 1px solid rgb(238,238,238);
		}
		.grid_3_cell_3_2 a:hover{
			color: #FB368E;
		}
		
		
		.cusmanytage{										/* 右边第三栏 */
			width: 260px;
			height: 192px;
			margin-top: 30px;
			border: 1px solid rgb(238,238,238);
		}
		.cusmanytage>div{
			padding: 15px;
		}
		.cusmanytage>ul{
			margin-top: -15px;
		}
		.cusmanytage>ul>div{
			display: flex;
			justify-content: space-around;
			margin: 10px;
		}
		.cusmanytage>ul>div a{
			width: 100%;
			height: 30px;
			line-height: 10px;
			padding: 10px;
			border: 1px solid rgb(232,232,232);
			color: rgb(102,102,102);
		}
		.cusmanytage>ul>div a:hover{
			color: rgb(255,62,62);
			border: 1px solid rgb(255,62,62);
		}
		.cusrec{
			font-size: 24px;
			position: relative;
			top: -4px;
			left: 10px;
		}
		
		
		
		.cusxiahua{
			width: 900px;
			height: 1px;
			margin-top: -19px;
			margin-bottom: 50px;
			background: rgb(238,238,238);
		}
		
		
		
		
		.grid_8
		{									
			width: 1200px;
			height: 426px;
			margin: 0 auto;
		}
		
		.gird_8_listbox {
			width: 1200px;
			height: 426px;
			margin-top: 40px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		
		.grid_8_1 {
			width: 380px;
			height: 426px;
			text-align: center;
			line-height: 56px;
			border: solid 1px #e9e9e9;
		}
		
		.grid_8_1:hover
		 {
			box-shadow: 2px 2px 12px rgba(0, 0, 0, .12);
		}
		
		.grid_8_1>div>img
		 {
			transition: .3s;
		}
		
		.cusimage{
			width: 380px;
			height: 285px;
			overflow: hidden;
		}
		
		.grid_8_1>div:nth-child(2)>p:nth-child(1){
			font-size: 20px;
			color: rgb(43,43,43);
			line-height: 70px;
		}
		.grid_8_1>div:nth-child(2)>p:nth-child(2)
		{
			font-size: 18px;
			color: rgb(43,43,43);
		}
		
		
		.grid_8_1>div>img:hover
		 {
			transform: scale(1.2);
		}												
		
		.cusimg{											
			margin-top: 80px;
			text-align: center;
			text-align: center;
		}
		.cus-love{
			width: 1200px;
			margin: 0 auto;
			font-size: 24px;
			font-weight: bold;
		}
										