* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input,button{
	border: none;
}
a {
	text-decoration: none;
	color: #000000;
}
body{
	font-family: "verdana, geneva, arial, helvetica, sans-serif";
}
.ts-module-one{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
}
.ts-nav{
	width: 1200px;
	font-size: 16px;
	margin: 0 auto;
	display: flex;
}
.ts-module-two{
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	height: 100px;
	display: flex;
	align-items: center;
}
.ts-module-two>p:first-child{
	font-size: 40px;
	font-weight: bold;
}
.ts-module-two>p:last-child{
	font-size: 20px;
	margin-top: 20px;
	color: rgb(108,108,108);
}
.ts-module-three{
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	position: relative;
}
.ts-module-top{
	/* width: 620px; */
	width: 1200px;
	height: 348px;
	border: 1px solid #EEEEEE;
}
.ts-module-bottom{
	width: 1200px;
	height: 250px;
	margin: 20px 0;
}
#ts-slide-top{
	display: flex;
	justify-content: space-between;
}
/* 轮播图2的箭头 */
.ts-banner-left{
	position: absolute;
	outline: none;
	cursor: pointer;
	right: -60px;
	bottom: 120px;
}
.ts-banner-right{
	position: absolute;
	cursor: pointer;
	left: -60px;
	outline: none;
	bottom: 120px;
}
.ts-slide-right{
	padding: 70px 60px;
	flex-direction: column;
	display: flex;
	border: 1px solid red;
}
.ts-slide-right>p{
	margin: 10px 0;
}
.ts-slide-right>p:first-child{
	font-size: 20px;
}
.ts-slide-right>p:nth-child(2){
	font-size: 16px;
	color: rgb(108,108,108);
}
.ts-slide-right>p:last-child{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ts-slide-two{
	border: 1px solid red;
}
#ts-slide-two p:nth-child(2){
	font-size: 19px;
}
#ts-slide-two p:nth-child(3){
	font-size: 16px;
	color: rgb(108,108,108);
}
.ts-module-four{
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #EEEEEE;
}
.ts-four-content{
	width: 1200px;
	padding: 50px 0;
	margin-top: 30px;
	margin: 0 auto;
	line-height: 40px;
}
.ts-four-content p{
	font-size: 20px;
	color: rgb(108,108,108);
}
.ts-module-six{
	width: 100%;
	background-image: url(img/bj.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 80px;
}
.ts-module-six-banner{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
/* 轮播图3的箭头 */
.ts-leftArrow{
	position: absolute;
	outline: none;
	top: 315px;
	right: -65px;
	cursor: pointer;
}
.ts-rightArrow{
	position: absolute;
	outline: none;
	top: 315px;
	left: -65px;
	cursor: pointer;
}
.ts-six-head,
.ts-seven-head{
	text-align: center;
	padding-top: 80px;
}
.ts-six-head p,
.ts-seven-head p{
	font-size: 20px;
	color: rgb(108,108,108);
}
h1{
	font-size: 45px;
}
#ts-banner-three{
	width: 1200px;
	height: 515px;
	margin: 0 auto;
	margin-top: 30px;
}
.ts-module-seven{
	width: 1200px;
	margin: 0 auto;
}

.ts-seven-content{
	width: 1200px;
	font-size: 16px;
	color: rgb(108,108,108);
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	justify-content: space-between;
}
.ts-box{
	width: 388px;
	height: 500px;
}
.ts-href{
	font-size: 20px;
}
.ts-box p{
	padding: 0 15px;
	margin: 20px auto;
}
.ts-seven-last{
	background: #EEEEEE;
	margin: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ts-seven-last>span:nth-child(2){
	font-weight: bold;
	color: #000000;
	margin-right: 15px;
}
.ts-desiger{
	padding-right: 20px;
	color: #FB368E;
	cursor: pointer;
}


