/* 公共样式 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: block;
	color: black;
}

a:hover {
	color: #FB368E;
}

ul {
	list-style: none;
}

input {
	outline-style: none;
}

/* index */
.hello{
	width: 100%;
	height: 80px;
	border: 1px solid red;
}

.cusbigbox{
	width: 100%;
	height: auto;
	display: flex;
	background-image: url(../img/model/cusbac.jpg);
	background-size: 100% 100%;
	justify-content: center;
}
.swiper-slide{
	position: relative;
}
.dasdasd{
	width: 100%;
	height: auto;
}
.cus-banner {
	width: 1200px;
	min-width: 1200px;
	height: 566px;
	display: flex;
	flex-direction: column;
}
.cus-nav-1>ul>li {
	float: left;
	line-height: 80px;
}

.cus-nav-1>ul>li>a {
	color: #000000;
}

.cus-nav-1>ul>li>a:hover {
	color: #fb368e;
}

.cus-banner-box {
	width: 1200px;
	height: 450px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}

.cus-banner-box-right {
	width: 863px;
	height: 450px;

}

.cus-banner-box-left {
	width: 320px;
	height: 450px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, .12);
	text-align: center;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
	width: 40px;
	height: 60px;
	background: #000000;
	margin-left: -10px;
	opacity: 0.2;
	background-image: url(../img/model/left.png);
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
	width: 40px;
	height: 60px;
	background: #000000;
	margin-right: -10px;
	opacity: 0.4;
	background-image: url(../img/model/right.png);
}

.cus-inp {
	width: 280px;
	height: 44px;
	margin-top: 12px;
	padding-left: 14px;
	line-height: 44px;
	border: 1px solid whitesmoke;
}

.cus-n {
	width: 280px;
	height: 80px;
	display: flex;
	margin-left: 20px;
	font-size: 20px;
	justify-content: space-between;
	align-items: center;
	line-height: 35px;

}

.cus-num {
	width: 34px;
	height: 34px;
	background: red;
	color: white;
	font-size: 20px;
	border-radius: 17px;
}

#cusjoin {
	width: 280px;
	height: 50px;
	margin-top: 17px;
	background-image: url(img/model/join1.png);
}

.grid_2 {
	width: 100%;
	height: 440px;
}
.grid_2 >p{
	width: 1200px;
	height: 133px;
	font-size: 24px;
	font-weight: bold;
	line-height: 183px;
}
.cus-listbox {
	width: 1200px;
	height: 428px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}

.cus-listbox>div {
	width: 388px;
	height: 426px;
	overflow: hidden;
}

.cus-listbox>div>div:first-child {
	position: relative;
}

.cus-pos {
	position: absolute;
	bottom: 4px;
	right: 0;
}

.cus-one-con {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-color: #fcfcfc;
}

.cus-one-con>div {
	width: 97px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px solid #F5F5F5;
	cursor: pointer;
}

.cus-one-con>div:first-child>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoheader/hou.png);
}

.cus-one-con>div:first-child:hover>p:first-child {
	background-image: url(../img/decoheader/hou-1.png);
}

.cus-one-con>div:nth-child(2)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoheader/sf.png);
}

.cus-one-con>div:nth-child(2):hover>p:first-child {
	background-image: url(../img/decoheader/sf-1.png);
}

.cus-one-con>div:nth-child(3)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoheader/pre.png);
}

.cus-one-con>div:nth-child(3):hover>p:first-child {
	background-image: url(../img/decoheader/pre-1.png);
}

.cus-one-con>div:nth-child(4)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoheader/des.png);
}

.cus-one-con>div:nth-child(4):hover>p:first-child {
	background-image: url(../img/decoheader/des-1.png);
}

.cus-one-con>div:nth-child(5)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoheader/bugg.png);
}

.cus-one-con>div:nth-child(5):hover>p:first-child {
	background-image: url(../img/decoheader/bugg-1.png);
}

.cus-one-con>div:nth-child(6)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoheader/agreement.png);
}

.cus-one-con>div:nth-child(6):hover>p:first-child {
	background-image: url(../img/decoheader/agreement-1.png);
}

.cus-one-con>div:nth-child(7)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoheader/many.png);
}

.cus-one-con>div:nth-child(7):hover>p:first-child {
	background-image: url(../img/decoheader/many-1.png);
}

#cus2>div:first-child>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decprocess/demolish.png);
}

#cus2>div:first-child:hover>p:first-child {
	background-image: url(../img/decprocess/demolish-1.png);
}

#cus2>div:nth-child(2)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decprocess/elec.png);
}

#cus2>div:nth-child(2):hover>p:first-child {
	background-image: url(../img/decprocess/elec-1.png);
}

#cus2>div:nth-child(3)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decprocess/water.png);
}

#cus2>div:nth-child(3):hover>p:first-child {
	background-image: url(../img/decprocess/water-1.png);
}

#cus2>div:nth-child(4)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decprocess/mud.png);
}

#cus2>div:nth-child(4):hover>p:first-child {
	background-image: url(../img/decprocess/mud-1.png);
}

#cus2>div:nth-child(5)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decprocess/wood.png);
}

#cus2>div:nth-child(5):hover>p:first-child {
	background-image: url(../img/decprocess/wood-1.png);
}

#cus2>div:nth-child(6)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decprocess/paint.png);
}

#cus2>div:nth-child(6):hover>p:first-child {
	background-image: url(../img/decprocess/paint-1.png);
}

#cus2>div:nth-child(7)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decprocess/install.png);
}

#cus2>div:nth-child(7):hover>p:first-child {
	background-image: url(../img/decprocess/install-1.png);
}

#cus2>div:nth-child(8)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decprocess/manycopy.png);
}

#cus2>div:nth-child(8):hover>p:first-child {
	background-image: url(../img/decprocess/many-1.png);
}


#cus3>div:first-child>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoend/clear.png);
}

#cus3>div:first-child:hover>p:first-child {
	background-image: url(../img/decoend/clear-1.png);
}

#cus3>div:nth-child(2)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoend/live.png);
}

#cus3>div:nth-child(2):hover>p:first-child {
	background-image: url(../img/decoend/live-1.png);
}

#cus3>div:nth-child(3)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoend/houelec.png);
}

#cus3>div:nth-child(3):hover>p:first-child {
	background-image: url(../img/decoend/houelec-1.png);
}

#cus3>div:nth-child(4)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoend/soft.png);
}

#cus3>div:nth-child(4):hover>p:first-child {
	background-image: url(../img/decoend/soft-1.png);
}

#cus3>div:nth-child(5)>p:first-child {
	width: 34px;
	height: 30px;
	background-image: url(../img/decoend/many.png);
}

#cus3>div:nth-child(5):hover>p:first-child {
	background-image: url(../img/decoend/many-1.png);
}

.cus-one-con>div>p:last-child {
	text-align: center;
	margin-top: 13px;
}

.cus-one-con>div:hover p {
	color: #FB368E;
}

.nav_2 {
	width: 100%;
	height: 110px;
	position: relative;
	bottom: -10px;
}

.nav_2 ul li {
	float: left;
	margin-left: 32px;
	line-height: 110px;
	list-style: none;
}

.nav_2>ul>li:nth-child(1) {
	font-size: 24px;
	font-weight: bold;
	position: relative;
	left: -32px;
	bottom: 3px;
}

.nav_2>ul>li:last-child {
	position: absolute;
	right: 0px;
}

.grid_3 {
	width: 100%;
	height: 400px;
}

.grid_3_cell {
	width: 1200px;
	height: 400px;
	display: flex;
	justify-content: space-between;
}

.grid_3_cell_1 {
	width: 585px;
	height: 400px;
	overflow: hidden;
}

.grid_3_cell_2 {
	width: 255px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.grid_3_cell_2_1,
.grid_3_cell_2_2 {
	width: 255px;
	height: 192px;
	overflow: hidden;
}

.grid_3_cell_2_1>img,
.grid_3_cell_2_2>img,
.grid_3_cell_1>img {
	transition: .2s;
}

.grid_3_cell_1>img:hover,
.grid_3_cell_2_1>img:hover,
.grid_3_cell_2_2>img:hover {
	transform: scale(1.2);
}

.grid_3_cell_3 {
	width: 330px;
	height: 400px;
	box-shadow: 2px 2px 12px rgba(0,0,0,.12);
}

.grid_3_cell_3_1 {
	width: 330px;
	height: 128px;
	display: flex;
	align-items: center;
	padding: 10px;
	background: rgb(252, 252, 252);
}

.grid_3_cell_3_1 a {
	font-size: 14px;
	line-height: 30px;
	margin-left: 14px;
}

.grid_3_cell_3_2 a {
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid ghostwhite;
}

.nav_5 {
	width: 100%;
	height: 80px;
	margin-top: 20px;
	position: relative;
}

.nav_5 ul li {
	float: left;
	margin-left: 35px;
	line-height: 110px;
}

.nav_5>ul:first-child>li:first-child{
	font-size: 24px;
	font-weight: bold;
	position: relative;
	left: -37px;
}
.nav_5>ul:first-child>li:last-child{
	position: relative;
	right: 0px;
}
.nav_5>ul:nth-child(2)>li:first-child{
	font-size: 24px;
	font-weight: bold;
	position: relative;
	left: -12px;
}

.nav_5>ul:nth-child(2)>li:last-child{
	position: absolute;
	right: 0;
}
.grid_6 {
	width: 100%;
	height: 270px;
}

.grid_6_listbox {
	width: 1200px;
	height: 270px;
	display: flex;
	justify-content: space-between;
}

.grid_6_one,
.grid_6_three {
	width: 270px;
	height: 270px;
	overflow: hidden;
}

.grid_6_one>img,
.grid_6_three>img {
	transition: .3s;
}

.grid_6_one>img:hover,
.grid_6_three>img:hover {
	transform: scale(1.2);
}

.grid_6_two>a,
.grid_6_four>a {
	font-size: 12px;
	line-height: 54px;
	text-align: center;
	border-bottom: 1px solid ghostwhite;
}

.grid_7 {
	width: 100%;
	height: 56px;
	margin-top: 20px;
}

.grid_7_listbox {
	width: 1200px;
	height: 56px;
	margin-top: 86px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.a {
	width: 600px;
	height: 56px;
	background: #2d2d2d;
	cursor: pointer;
}

.a>p {
	font-size: 22px;
	text-align: center;
	line-height: 56px;
	color: #ffffff;
}

.b {
	width: 600px;
	height: 56px;
	background: #ff0072;
	cursor: pointer;
}

.grid_8 {
	width: 100%;
	height: 426px;
}

.gird_8_listbox {
	width: 1200px;
	height: 426px;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid_8_one,
.grid_8_two,
.grid_8_three {
	width: 380px;
	height: 426px;
	font-size: 20px;
	text-align: center;
	line-height: 56px;
	border: solid 1px #e9e9e9;
}

.grid_8_one:hover,
.grid_8_two:hover,
.grid_8_three:hover {
	box-shadow: 2px 2px 12px rgba(0, 0, 0, .12);
}

.grid_8_one>div>img,
.grid_8_two>div>img,
.grid_8_three>div>img {
	transition: .3s;
}

.cusimage{
	width: 380px;
	height: 285px;
	overflow: hidden;
}

.grid_8_one>div>img:hover,
.grid_8_two>div>img:hover,
.grid_8_three>div>img:hover {
	transform: scale(1.2);
	overflow: hidden;
}

.cus-index {
	width: 512px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	margin-top: 60px;
	background: #2d2d2d;
	color: white;
	font-size: 20px;
}

.cus-index>a {
	color: white;
	line-height: 50px;
}

.cus-index>a:hover {
	background: rgb(255, 0, 114);
	color: white;
}

.custage {
	width: 100%;
	height: auto;
	margin-top: 40px;
	border: 1px solid #eeeeee;
}

.cus-tagelistbox {
	width: 100%px;
	height: 148px;
	position: relative;
}

.cus-abs {
	width: 1065px;
	height: 64px;
	position: absolute;
	right: 0;
	top: 0;
	background: #eeeeee;
}

.cus-tagelistbox>div:first-child {
	height: 64px;
	margin-left: 12px;
	font-size: 24px;
	font-weight: 700;
	line-height: 64px;
}

.biaoqian a {
	font-size: 14px;
	margin-left: 40px;
	line-height: 40px;
	display: inline-block;
}

.cus-footer {
	width: 100%;
	height: 80px;
	margin-top: 40px;
}

.cus-header-btn {
	width: 280px;
	height: 50px;
	color: #FFFFFF;
	line-height: 50px;
	text-align: center;
	background-color: rgb(45, 45, 45);
	margin: 0 auto;
	margin-top: 20px;
	cursor: pointer;
	transition: .1s;
}

.cus-header-btn:hover {
	background-color: #ff0072;
}
#mam{
	width: 100%;
	height: 80px;
	margin-top: 20px;
	border: 1px solid red;
}